
@{
    ViewBag.Title = "Lab1";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Bài tập thực hành lập trình Web buổi 1 bài tập 1">
    <meta name="keywords" content="Lập trình Web cơ bản">
    <title>Vịnh Hạ Long - Cát Bà chính thức trở thành di sản thế giới</title>
</head>
<body>
    <h1>Vịnh Hạ Long - Cát Bà chính thức trở thành di sản thế giới</h1>
    <h3>Đêm 16-9 (giờ Việt Nam), vịnh Hạ Long của tỉnh Quảng Ninh và quần đảo Cát Bà thuộc TP Hải Phòng chính thức được UNESCO công nhận là di sản thiên nhiên thế giới.</h3>
    <p>Tại kỳ họp lần thứ 45 của Ủy ban Di sản thế giới UNESCO ngày 16-9, nghi thức gõ búa công nhận quần thể vịnh Hạ Long - quần đảo Cát Bà (thuộc địa bàn tỉnh Quảng Ninh và TP Hải Phòng) là di sản thiên nhiên thế giới đã được thực hiện.</p>
    <p>Cụ thể, nghi thức được thực hiện vào 17h40 ngày 16-9 (tức 21h39 ngày 16-9 giờ Việt Nam) tại thủ đô Riyadh của Cộng hòa Saudi Arabia. Tham gia kỳ họp lần thứ 45, đoàn Việt Nam do PGS.TS Lê Thị Thu Hiền - cục trưởng Cục Di sản văn hóa (Bộ Văn hóa, Thể thao và Du lịch) - làm trưởng đoàn.</p>
    <p>Về phía các địa phương có ông Lê Khắc Nam - phó chủ tịch UBND TP Hải Phòng và bà Nguyễn Thị Hạnh - phó chủ tịch UBND tỉnh Quảng Ninh.</p>
</body>
</html>
